
<div class="pagination" align="left" >
	<%= will_paginate @users%>
	<br />
	<br />
	<br />
	
	<ul class="users">
		<% @users.each do |user| %>
		<li>
			<%= gravatar_for user, :size => 30  %>
			<br/>
			
			
			<%= link_to user.name, user %> |
			

			<% if current_user.admin? %>
			<%= link_to 'delete', user , :method => :delete , :confirm => "Are you shure?", 
			                             :title => "Delete #{ user.name }" %>                     
			<% end %>
			
			<hr />
			<br />
		</li>
		<% end %>

	</ul>
	<%= will_paginate @users %>
	
</div>