<h1>Help</h1>
<p>
Get help on Ruby on Rails Tutorial at the: 
</p>


 <div id="navbar">

      <div id="navigation" >
  <ul>
    <li>
      <a href="#">Navigacija</a>
      <ul>
            <li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News","http://rubyonrails.org/"%></li>
			<li><%= link_to "Help", help_path %></li>
        </ul>
      </li>
    
    <li>
      <a href="#">Menu Item 2</a>
      <ul>
            <li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "News","http://rubyonrails.org/"%></li>
			<li><%= link_to "Help", help_path %></li>
        </ul> 
      </li>
    
    <li>
      <a href="#">Menu Item 3</a>
      <ul>
        <li><a href="#">sub menu item 1</a></li>
        <li><a href="#">sub menu item 2</a></li>
        <li><a href="#">sub menu item 3</a></li>
        <li><a href="#">sub menu item 4</a></li>
        </ul>
      </li>
    
    <li>
      <a href="#">Menu Item 4</a>
      <ul>
        <li><a href="#">sub menu item 1</a></li>
        <li><a href="#">sub menu item 2</a></li>
        <li><a href="#">sub menu item 3</a></li>
        <li><a href="#">sub menu item 4</a></li>
        </ul>
      </li>
      
      
      <li>
      <a href="#">Menu Item 5</a>
      <ul>
        <li><a href="#">sub menu item 1</a></li>
        <li><a href="#">sub menu item 2</a></li>
        <li><a href="#">sub menu item 3</a></li>
        <li><a href="#">sub menu item 4</a></li>
        </ul>
      </li>
      
      
      <li>
      <a href="#">Menu Item 6</a>
      <ul>
        <li><a href="#">sub menu item 1</a></li>
        <li><a href="#">sub menu item 2</a></li>
        <li><a href="#">sub menu item 3</a></li>
        <li><a href="#">sub menu item 4</a></li>
        </ul>
      </li>
      
    </ul>
       
  </div>   
      <hr/>
      </div>
      