<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "home","http://rubyonrails.org/"%></li>
			<li><%= link_to "news","http://rubyonrails.org/"%></li>
			<li><%= link_to "contacts","http://rubyonrails.org/"%></li>
			<li><%= link_to "about","http://rubyonrails.org/"%></li>
			<li><%= link_to "about","http://rubyonrails.org/"%></li>
		</ul>
	</nav>
	
</footer>
